.main-card-container {
  cursor: pointer;
  filter: brightness(240%);
  }
  
  .main-card-div {
    margin-right: 25px;
    /* Add other styles like width, height, and padding as needed */
  }
  
  .pic {
    max-width: 100px;
    /* Styles for your image */
  }
  
  .bodypart-text {
  margin: 0;
   justify-content: center;
  }
  .section-div{
    display: flex;
    justify-content: center;
  }